SiteA/Web References/TokenService/TokenService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TokenGetCredence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tokenValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TokenGetCredenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenGetCredenceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MySoapHeader" type="tns:MySoapHeader" />
      <s:complexType name="MySoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ClearToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tokenValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearTokenResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TokenGetCredenceSoapIn">
    <wsdl:part name="parameters" element="tns:TokenGetCredence" />
  </wsdl:message>
  <wsdl:message name="TokenGetCredenceSoapOut">
    <wsdl:part name="parameters" element="tns:TokenGetCredenceResponse" />
  </wsdl:message>
  <wsdl:message name="TokenGetCredenceMySoapHeader">
    <wsdl:part name="MySoapHeader" element="tns:MySoapHeader" />
  </wsdl:message>
  <wsdl:message name="ClearTokenSoapIn">
    <wsdl:part name="parameters" element="tns:ClearToken" />
  </wsdl:message>
  <wsdl:message name="ClearTokenSoapOut">
    <wsdl:part name="parameters" element="tns:ClearTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ClearTokenMySoapHeader">
    <wsdl:part name="MySoapHeader" element="tns:MySoapHeader" />
  </wsdl:message>
  <wsdl:portType name="TokenServiceSoap">
    <wsdl:operation name="TokenGetCredence">
      <wsdl:input message="tns:TokenGetCredenceSoapIn" />
      <wsdl:output message="tns:TokenGetCredenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearToken">
      <wsdl:input message="tns:ClearTokenSoapIn" />
      <wsdl:output message="tns:ClearTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TokenServiceSoap" type="tns:TokenServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TokenGetCredence">
      <soap:operation soapAction="http://tempuri.org/TokenGetCredence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:TokenGetCredenceMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearToken">
      <soap:operation soapAction="http://tempuri.org/ClearToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ClearTokenMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TokenServiceSoap12" type="tns:TokenServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TokenGetCredence">
      <soap12:operation soapAction="http://tempuri.org/TokenGetCredence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:TokenGetCredenceMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearToken">
      <soap12:operation soapAction="http://tempuri.org/ClearToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ClearTokenMySoapHeader" part="MySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenService">
    <wsdl:port name="TokenServiceSoap" binding="tns:TokenServiceSoap">
      <soap:address location="http://www.auth.com/TokenService.asmx" />
    </wsdl:port>
    <wsdl:port name="TokenServiceSoap12" binding="tns:TokenServiceSoap12">
      <soap12:address location="http://www.auth.com/TokenService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>